
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyHomPage</title>
</head>
<body>
    <div>
        Welcome to my first MVC View today
        <br />
          Current time is @ViewData["CurrentTime"]
    </div>
</body>
</html>
 